header nav.mdl-navigation {
	margin-right: 100px !important; 
}

.add-files-code .language-markup {
	text-align: center;
}

.description {
	margin-top: 30px;
}

.code-block {
	width: 100%;
    padding: 0;
}

pre.language-markup {
	margin: 0;
}

.code-notes {
	margin: 0 20px;
}

.options-table {
	overflow: auto;
}

table > tbody > tr > td:nth-child(2) {
	white-space: normal;
	padding: 12px 18px;
}

.usage-examples-text {
	margin-top: 25px;
}

footer p {
	width: 100%;
	text-align: center;
	margin: 0;
}